{% extends 'base.twig' %}
{% block title %} Índice {% endblock title %}

{% block content %}
<div class="row">
    <div class="container">
    {% include "sidebar.twig" %}
    <div class="col-lg-8 col-md-8 col-xs-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Bienvenido a Olimpiadas FC</h2>
                <p>Aplicación para la gestion de inscripciones de eventos deportivos.</p>
                <p>Puedes usar el menú de <strong>navegación</strong> para acceder a las diferentes secciones de la aplicación</p>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
